.google{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google .google-logo img{
    width: 66px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 25px 0 0 25px;
}
.google-sign button{
    border: none;
    background: none;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    font-weight: 700;
    color: green;
}